@import '../@theme/styles/themes';

@include nb-install-component() {
  /deep/ router-outlet + * {
    display: block;
    animation: fade 1s;

    .error-message {  color: #ff4c6a; }

    .font-size-select { 
      font-size: 0.875rem;
      height: 2.3rem;
      padding: unset;
    }

    @keyframes fade {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }
}
