<div class="col-md-12">
  <nb-card>
    <nb-card-body>
      <nb-tabset fullWidth>
        <nb-tab tabTitle="Prestamos">
          <br>
          <br>
          <br>
          <form (ngSubmit)="savePrestamo(form)" #form="ngForm" aria-labelledby="title">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="selectCliente">Cliente</label>
                  <select placeholder="Clientes"
                    outline
                    class="form-control font-size-select" 
                    size="medium"
                    name="selectCliente"
                    id="selectCliente"
                    #idCliente="ngModel"
                    [(ngModel)]="prestamo.idCliente"
                    [required]="true"
                    [disabled]="isPrestamoSelected"
                    [attr.aria-invalid]="idCliente.invalid && idCliente.touched ? true : null"
                    >
                    <option value="">CLIENTES</option>
                    <option *ngFor="let cliente of selectClientes" value="{{cliente.codigo}}"  [(selected)]="cliente.codigo == prestamo.idCliente">{{cliente.nombre}}</option>
                  </select>
                  <ng-container *ngIf="idCliente.invalid && idCliente.touched">
                      <p class="error-message" *ngIf="idCliente.errors?.required">
                        El Cliente es obligatorio!
                      </p>
                    </ng-container>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputEstado">Estado <span class="error-message">*</span></label>
                  <input nbInput 
                        fullWidth
                        fieldSize="small" 
                        class="form-control" 
                        id="inputEstado"                     
                        placeholder="Estado"
                        [disabled]="true"
                        name="inputEstado"
                        #estado="ngModel"                        
                        [(ngModel)]="prestamo.nombreEstado" 
                        >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputFeCreacion">Fecha prestamo <span class="error-message">*</span></label>
                  <input nbInput 
                        fullWidth
                        fieldSize="small" 
                        class="form-control" 
                        maxlength="12"
                        placeholder="Fecha de prestamo" 
                        id="inputFeCreacion"
                        name="inputFeCreacion"
                        #feCreacion="ngModel"
                        [nbDatepicker]="dateFeCreacion" 
                        [(ngModel)]="prestamo.feCreacion"  
                        [required]="true"
                        [disabled]="isPrestamoSelected"
                        [status]="feCreacion.dirty ? (feCreacion.invalid  ? 'danger' : 'success') : ''"
                        [attr.aria-invalid]="feCreacion.invalid && feCreacion.touched ? true : null"
                        >
                  <nb-datepicker #dateFeCreacion></nb-datepicker>
                  <ng-container *ngIf="feCreacion.invalid && feCreacion.touched">
                    <p class="error-message" *ngIf="feCreacion.errors?.required">
                      La fecha de prestamo es obligatoria!
                    </p>
                  </ng-container>                  
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputFeEntrega">Fecha de entrega <span class="error-message"></span></label>
                  <input nbInput 
                        fullWidth
                        fieldSize="small" 
                        class="form-control" 
                        id="inputFeEntrega"                     
                        placeholder="Fecha de entrega"
                        name="inputFeEntrega"
                        #feEntrega="ngModel"
                        maxlength="12"
                        [nbDatepicker]="dateFeEntrega" 
                        [(ngModel)]="prestamo.feEntrega"                        
                        [required]="true"
                        [disabled]="isPrestamoSelected"
                        [status]="feEntrega.dirty ? (feEntrega.invalid  ? 'danger' : 'success') : ''"
                        [attr.aria-invalid]="feEntrega.invalid && feEntrega.touched ? true : null"
                        >
                  <nb-datepicker #dateFeEntrega></nb-datepicker>
                  <ng-container *ngIf="feEntrega.invalid && feEntrega.touched">
                    <p class="error-message" *ngIf="feEntrega.errors?.required">
                      La fecha de entrega es obligatoria!
                    </p>
                  </ng-container>                  
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="inputFePago">Fecha de pago <span class="error-message">*</span></label>
                    <input nbInput 
                          fullWidth
                          fieldSize="small" 
                          class="form-control" 
                          maxlength="12"
                          placeholder="Fecha de pago" 
                          id="inputFePago"
                          name="inputFePago"
                          #dateFePago="ngModel"
                          [nbDatepicker]="dateFePago" 
                          [(ngModel)]="prestamo.fePago"  
                          [required]="true"
                          [disabled]="isPrestamoSelected"
                          [status]="dateFePago.dirty ? (dateFePago.invalid  ? 'danger' : 'success') : ''"
                          [attr.aria-invalid]="dateFePago.invalid && dateFePago.touched ? true : null"
                          (blur)="calcularFeMaximaPago()"
                          >
                    <nb-datepicker #dateFePago></nb-datepicker>
                    <ng-container *ngIf="dateFePago.invalid && dateFePago.touched">
                      <p class="error-message" *ngIf="dateFePago.errors?.required">
                        La fecha de pago es obligatoria!
                      </p>
                    </ng-container>                  
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="inputFeMaxPago">Fecha de máxima de pago <span class="error-message"></span></label>
                    <input nbInput 
                          fullWidth
                          fieldSize="small" 
                          class="form-control" 
                          placeholder="Fecha de máxima de pago"
                          id="inputValorCuota"  
                          name="inputFeGracia"
                          [disabled]="true"
                          [(ngModel)]="prestamo.feMaxPago"
                          [nbDatepicker]="feMaxPago" 
                          >   
                          <nb-datepicker #feMaxPago></nb-datepicker>             
                  </div>
                </div>
              </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputValor">Valor prestamo <span class="error-message">*</span></label>
                  <input nbInput 
                        fullWidth
                        fieldSize="small" 
                        class="form-control" 
                        id="inputValor"                     
                        placeholder="Valor del prestamo"
                        name="inputValor"
                        #valor="ngModel"
                        mask='dot_separator'
                        maxlength="15"
                        [(ngModel)]="prestamo.valor"                        
                        [required]="true"               
                        [disabled]="isPermitAction"
                        [status]="valor.dirty ? (valor.invalid  ? 'danger' : 'success') : ''"
                        [attr.aria-invalid]="valor.invalid && valor.touched ? true : null"
                        (blur)="calcularPagos()"
                        >
                  <ng-container *ngIf="valor.invalid && valor.touched">
                    <p class="error-message" *ngIf="valor.errors?.required">
                      El valor del prestamo es obligatorio es obligatorio!
                    </p>
                  </ng-container>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputCuota">Número de cuota <span class="error-message">*</span></label>
                  <input nbInput 
                        fullWidth
                        fieldSize="small" 
                        class="form-control" 
                        id="inputCuota"                     
                        placeholder="Numero de cuotas"
                        name="inputCuota"
                        #cuota="ngModel"
                        maxlength="2"
                        [(ngModel)]="prestamo.cuotas"                        
                        [required]="true"        
                        [disabled]="isPermitAction"                
                        [status]="cuota.dirty ? (cuota.invalid  ? 'danger' : 'success') : ''"
                        [attr.aria-invalid]="cuota.invalid && cuota.touched ? true : null"
                        (blur)="calcularPagos()"
                        >
                  <ng-container *ngIf="cuota.invalid && cuota.touched">
                    <p class="error-message" *ngIf="cuota.errors?.required">
                      Las cuotas son obligatorias!
                    </p>
                  </ng-container>
                </div>
              </div>
              
            </div>
            <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="inputValorCuota">Valor cuota </label>
                    <input nbInput 
                          fullWidth
                          fieldSize="small" 
                          class="form-control" 
                          placeholder="Valor Cuota"
                          id="inputValorCuota"  
                          name="inputValorCuota"
                          [disabled]="true"
                          mask='dot_separator'
                          [(ngModel)]="prestamo.valorCuota"
                          >
                    
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="inputValorInteres">Interes por cuota</label>
                    <input nbInput 
                          fullWidth
                          fieldSize="small" 
                          class="form-control" 
                          id="inputValorInteres"  
                          placeholder="Interes por Cuota"
                          name="inputValorInteres"
                          [disabled]="true"
                          mask='dot_separator'
                          [(ngModel)]="prestamo.valorCuotaInteres"
                          >
                  </div>
                </div>
                
              </div>
            
            
            <button nbButton
              size="xsmall"
              [status]="(!form.valid  ? 'danger' : 'success')" 
              [disabled]="!form.valid"
              >
              Guardar
            </button>
            
            <a (click)="open(dialog)" size="xsmall" [status]="(!isPrestamoSelected ? 'danger' : 'success')"  [disabled]="!isPrestamoSelected" nbButton>Abonos</a> 
            <a (click)="onClearForm()" size="xsmall" [status]="'success'"  nbButton>Nuevo</a> 
          </form>
          <br>
          <ngx-prestamo-prestamo-list (editPrestamoPerent)='loadPrestamoInfo($event)'></ngx-prestamo-prestamo-list>
        </nb-tab>
        
      </nb-tabset>
    </nb-card-body>
  </nb-card>

  

  <ng-template #dialog let-data let-ref="dialogRef">
      <nb-card  style="max-height:90% !important;">
        <nb-card-header>Registro de abonos</nb-card-header>
        <nb-card-body >
          <form (ngSubmit)="abonoSave(form)" #form="ngForm" aria-labelledby="title">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="nomCliente">Cliente</label>
                  <input nbInput 
                        fullWidth
                        fieldSize="small" 
                        class="form-control" 
                        id="nomCliente"
                        name="nomCliente"
                        [disabled]="true"
                        [(ngModel)]="data.nombreCliente"
                  >
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="totalPrestamo">Total prestamo</label>
                  <input nbInput
                        fullWidth
                        fieldSize="small"
                        class="form-control"
                        id="totalPrestamo"
                        name="totalPrestamo"
                        [disabled]="true"
                        mask='dot_separator'
                        [(ngModel)]="data.totalPrestamo"
                  >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="totalAbonado">Valor abonado</label>
                  <input nbInput
                        fullWidth
                        fieldSize="small"
                        class="form-control"
                        id="totalAbonado"
                        name="totalAbonado"
                        [disabled]="true"
                        [(ngModel)]="data.totalAbonado"
                        mask='dot_separator'
                  >
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="totalRestante">Valor restante</label>
                  <input nbInput 
                        fullWidth
                        fieldSize="small" 
                        class="form-control" 
                        id="totalRestante"
                        name="totalRestante"
                        [disabled]="true"
                        [(ngModel)]="data.totalRestante"
                        mask='dot_separator'
                  >
                </div>
              </div>

              </div>
            <div class="row">

                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="cuotaNum">Cuota #</label>
                    <input nbInput
                            fullWidth
                            fieldSize="small"
                            class="form-control"
                            id="cuotaNum"
                            name="cuotaNum"
                            [disabled]="true"
                            [(ngModel)]="data.cuota"
                      >
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="inputfechaAbono">Fecha Pago <span class="error-message">*</span></label>
                    <input nbInput 
                          fullWidth
                          fieldSize="small" 
                          class="form-control" 
                          maxlength="12"
                          placeholder="Fecha de prestamo" 
                          id="inputfechaAbono"
                          name="inputfechaAbono"
                          #fechaAbono="ngModel"
                          [nbDatepicker]="fechaAbono" 
                          [(ngModel)]="abono.fechaAbono"  
                          [required]="true"
                          [disabled]="isPermitAction"
                          [status]="fechaAbono.dirty ? (fechaAbono.invalid  ? 'danger' : 'success') : ''"
                          [attr.aria-invalid]="fechaAbono.invalid && fechaAbono.touched ? true : null"
                          >
                    <nb-datepicker #fechaAbono></nb-datepicker>
                    <ng-container *ngIf="fechaAbono.invalid && fechaAbono.touched">
                      <p class="error-message" *ngIf="fechaAbono.errors?.required">
                        La fecha de pago es obligatoria!
                      </p>
                    </ng-container>                  
                  </div>
                </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                    <label for="selectMedioPago">Medio de pago</label>
                    <select placeholder="Medios de pago"
                          outline
                          class="form-control font-size-select"
                          style=" font-size: 0.875rem; height: 2.3rem;"
                          size="medium"
                          name="selectMedioPago"
                          id="selectMedioPago"
                          #medioPago="ngModel"
                          [(ngModel)]="abono.codigoMedioPago"
                          [required]="true"
                          [disabled]="isPermitAction"
                          [attr.aria-invalid]="medioPago.invalid && medioPago.touched ? true : null"
                    >
                    <option value="">MEDIOS DE PAGO</option>
                    <option *ngFor="let medioPago of selectMediosPago" value="{{medioPago.codigo}}"  [(selected)]="medioPago.codigo == abono.codigoMedioPago">{{medioPago.nombre}}</option>
                  </select>

                    <ng-container *ngIf="medioPago.invalid && medioPago.touched">
                        <p class="error-message" *ngIf="medioPago.errors?.required">
                        El medio de pago es obligatorio!
                        </p>
                    </ng-container>
                  </div>
                </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="valorAbono">Valor abono</label>
                  <input nbInput 
                          fullWidth
                          fieldSize="small" 
                          class="form-control" 
                          id="valorAbono"                     
                          placeholder="Valor abono"
                          name="valorAbono"
                          #valorAbono="ngModel"
                          maxlength="50"
                          [(ngModel)]="data.valor"                        
                          [required]="true"            
                          [disabled]="isPermitAction"            
                          [status]="valorAbono.dirty ? (valorAbono.invalid  ? 'danger' : 'success') : ''"
                          [attr.aria-invalid]="valorAbono.invalid && valorAbono.touched ? true : null"
                          (blur)="calcularPagosAbonos()"
                          mask='dot_separator'
                          >
                    <ng-container *ngIf="valorAbono.invalid && valorAbono.touched">
                      <p style="color: #ff4c6a;" *ngIf="valorAbono.errors?.required">
                        El valor del abono es obligatorio!
                      </p>
                    </ng-container>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="pagoInteres">Pago interes</label>
                  <input nbInput 
                        fullWidth
                        fieldSize="small" 
                        class="form-control" 
                        id="pagoInteres"  
                        name="pagoInteres"
                        [disabled]="true"
                        [(ngModel)]="data.interesPagado"
                        mask='dot_separator'
                  >
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="valorPagoDeuda">Pago a deuda</label>
                  <input nbInput 
                        fullWidth
                        fieldSize="small" 
                        class="form-control" 
                        id="valorPagoDeuda"  
                        name="valorPagoDeuda"
                        [disabled]="true"
                        [(ngModel)]="data.valorPagado"
                        mask='dot_separator'
                  >
                </div>
              </div>
            </div>
            <button nbButton
              size="xsmall"
              [status]="(!form.valid  ? 'danger' : 'success')" 
              [disabled]="submitted || !form.valid"
              [class.btn-pulse]="submitted">
              Guardar
            </button>
            <button nbButton (click)="ref.close()" size="xsmall" [status]="'success'" >Cancelar</button>
          </form>
          <ng2-smart-table [settings]="settings" [source]="source" (custom)="onCustomAction($event)" >
          </ng2-smart-table>
        </nb-card-body>
        <nb-card-footer>
         
        </nb-card-footer>
      </nb-card>
    </ng-template>
</div>