<br>
<br>
<br>
<div *ngIf="cliente == undefined"> Por favor serleccione un cliente en la pestaña anterior</div>
<div *ngIf="cliente != undefined">
  <form (ngSubmit)="saveCuentaBancaria(form)" #form="ngForm" aria-labelledby="title">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="selectTipoCuenta">Tipo cuenta</label>
          <select placeholder="Tipos de cuenta"
                  outline
                  class="form-control font-size-select" 
                  size="medium"
                  name="selectTipoCuenta"
                  id="selectTipoCuenta"
                  #tipoCuenta="ngModel"
                  [disabled]="cuenta.codigo > 0"
                  [(ngModel)]="cuenta.tipoCuenta"
                  [required]="true"
                  [attr.aria-invalid]="tipoCuenta.invalid && tipoCuenta.touched ? true : null"
                  >
                  <option value="">TIPOS DE CUENTAS</option>
                  <option *ngFor="let tipoId of selectTiposCuentas" value="{{tipoId.codigo}}"  [(selected)]="tipoId.codigo == cuenta.tipoCuenta">{{tipoId.nombre}}</option>
          </select>
          <ng-container *ngIf="tipoCuenta.invalid && tipoCuenta.touched">
            <p class="error-message" *ngIf="tipoCuenta.errors?.required">
              El tipo de cuenta es obligatorio!
            </p>
          </ng-container>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="inputNCuenta">N. Cuenta</label>
          <input type="text"
                nbInput 
                fullWidth
                fieldSize="small" 
                class="form-control" 
                id="inputNCuenta" 
                maxlength="15"
                placeholder="Número de cuenta"
                name="inputNCuenta"
                #nCuenta="ngModel"
                [disabled]="cuenta.codigo > 0"
                [(ngModel)]="cuenta.dsCuenta"
                [required]="true"
                [status]="nCuenta.dirty ? (nCuenta.invalid  ? 'danger' : 'success') : ''"
                [attr.aria-invalid]="nCuenta.invalid && nCuenta.touched ? true : null"
                mask='000 000 000 - 0'
                [validation]="true"
                >
          <ng-container *ngIf="nCuenta.invalid && nCuenta.touched">
            <p class="error-message" *ngIf="nCuenta.errors?.required">
              El número de cuenta es obligatorio!
            </p>
            <p class="error-message" *ngIf="nCuenta.errors?.pattern">
              Por favor ingrese sólo números.
            </p>
          </ng-container>           
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="selectBanco">Banco</label>
          <select placeholder="Tipos de cuenta"
            outline
            class="form-control font-size-select" 
            size="medium"
            name="selectBanco"
            id="selectBanco"
            #codigoBanco="ngModel"
            [disabled]="cuenta.codigo > 0"
            [(ngModel)]="cuenta.codigoBanco"
            [required]="true"
            [attr.aria-invalid]="codigoBanco.invalid && codigoBanco.touched ? true : null"
            >
            <option value="">BANCOS</option>
            <option *ngFor="let banco of selectBancos" value="{{banco.codigo}}"  [(selected)]="banco.codigo == cuenta.codigoBanco">{{banco.nombre}}</option>
          </select>
          <ng-container *ngIf="codigoBanco.invalid && codigoBanco.touched">
              <p class="error-message" *ngIf="codigoBanco.errors?.required">
                El banco es obligatorio!
              </p>
            </ng-container>
        </div>
      </div>
      <div class="col-sm-6">
      </div>
    </div>
    <br>
    <button nbButton
      size="xsmall"
      [status]="(!form.valid  ? 'danger' : 'success')" 
      [disabled]="submitted || !form.valid"
      [class.btn-pulse]="submitted">
      Guardar
    </button>
    <a (click)="onClearForm()" size="xsmall" [status]="'success'"  nbButton>Nuevo</a> 
  </form>
  <br>
  <br>
  <br>
  <nb-card>
    <nb-card-body>
        <ng2-smart-table [settings]="settings" [source]="source" (custom)="onCustomAction($event)">
        </ng2-smart-table>
    </nb-card-body>
  </nb-card>
</div>