<div class="col-md-12">
    <nb-card>
        <nb-card-body>
            <nb-tabset fullWidth>
                <nb-tab tabTitle="Cartera">
                    <br>
                    <br>
                    <br>
                    <form #form="ngForm" aria-labelledby="title">
                        <nb-card>
                            <nb-card-body>
                                <ng2-smart-table [settings]="settings" [source]="source" (custom)="onCustomAction($event)">
                                </ng2-smart-table>
                            </nb-card-body>
                        </nb-card>
                    </form>
                </nb-tab>
            </nb-tabset>
        </nb-card-body>
    </nb-card>
</div>