<nb-card>
  <nb-card-header>
    <span>Liquidación</span>
  </nb-card-header>
  <nb-card-body>
    <form (ngSubmit)="getPreliquidacion(form)" #form="ngForm" aria-labelledby="title">
      <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <button nbButton
                size="xsmall"
                [status]="(!form.valid  ? 'danger' : 'success')" 
                [disabled]="!form.valid"
                >
                Preliquidación
              </button>
              <a (click)="saveLiquidacion()" size="xsmall" [status]="'success'"  nbButton>Liquidar</a>   
            </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group" *ngIf="liquidacion.periodo != ''">
            <div class="container-title">
              <span>Egresos</span>
            </div>
            <div class="example-container col-md-10" *ngFor="let egreso of liquidacion.egresos">
              
              <div class="primary-container">
                <div class="state-container">
                  <div class="state-value"></div>
                  <div class="state-details">
                    {{ egreso.nombre }} ({{ egreso.porcentaje | number}} %)
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group" *ngIf="liquidacion.periodo != ''">
              <div class="container-title">
                <span>PERIODO: {{ liquidacion.periodo }}</span>
              </div>
              <div class="example-container col-md-10" *ngFor="let liquidtotales of liquidacion.sociosTotales">
                
                <div class="primary-container">
                  <div class="state-container">
                    <div class="state-value"></div>
                    <div class="state-details">
                      <span class="subheader">{{liquidtotales.nameSocio}}: {{ liquidtotales.valorIntereses | number}} - {{ liquidtotales.valorEgreso | number}} = {{ liquidtotales.valorliquidacion | number}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>
<nb-card>
  <nb-card-header>
    <span>Liquidación Por Socio Periodo {{liquidacion.periodo}} </span>
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="example-container col-md-4" *ngFor="let liquid of liquidacion.socios">
        <div class="container-title">
          <span>{{ liquid.nameSocio }}</span>
        </div>
        <div class="primary-container">
          <div class="state-container">
            <div class="state-value"></div>
            <div class="state-details">
              <span class="header">Intereses</span>
              <span class="subheader">{{ liquid.valorIntereses | number}}</span>
            </div>
          </div>
          <div class="state-container">
            <div class="state-value active"></div>
            <div class="state-details">
              <span class="header">Valor A pagar</span>
              <span class="subheader">({{ liquid.porcentaje | number}}%) {{ liquid.valorPoIntereses | number}}</span>
            </div>
          </div>
          
            <div class="example-container col-md-4" *ngFor="let liquidDist of liquid.socioDist">
                <div class="container-title-second">
                  <span>{{ liquidDist.nameSocio }}</span>
                </div>
                <div class="primary-container">
                    <div class="state-container">
                        <div class="state-value active"></div>
                        <div class="state-details">
                          <span class="header-second">Valor A pagar</span>
                          <span class="subheader-second">({{ liquidDist.porcentaje | number}}%) {{ liquidDist .valorPoIntereses | number}}</span>
                        </div>
                      </div>
                </div>
            </div>
         
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
