@import '../../../@theme/styles/themes';
@import '~@nebular/bootstrap/styles/buttons';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

.example-container {
    margin-bottom: 1.5rem;
}
.container-title {
  color: nb-theme(color-fg);
  font-family: nb-theme(font-secondary);
  margin-bottom: 0.90rem;
  font-size: 17px;

}

.container-title-second {
    color: black;
    font-family: nb-theme(font-secondary);
    margin-bottom: 0.90rem;
    font-size: 12px;
  
  }

.primary-container {
    .original {
      background-color: nb-theme(btn-primary-bg);
    }
  }

  .primary-container.outline .original {
    background-color: transparent;
    border: 2px solid nb-theme(btn-primary-bg);
  }

  .state-container {
    display: flex;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    .state-value {
      width: 5;
      height: 5;
      border-radius: nb-theme(btn-border-radius);

      @include nb-for-theme(corporate) {
        border-radius: nb-theme(btn-semi-round-border-radius);
      }
    }

    .state-details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 1rem;
      margin-right: 1rem;
      height: 5;
    }
  }

  .header {
    color: black;
    font-size: 1rem;
  }

  .subheader {
    font-size: 1rem;
    font-weight: nb-theme(font-weight-light);
    color: darkred;
    font-weight: bold;
    text-align: center;
  }

  .header-second {
    color: black;
    font-size: 12px;
  }

  .subheader-second {
    font-size: 12px;
    font-weight: nb-theme(font-weight-light);
    color: darkred;
    font-weight: bold;
    text-align: center;
  }

