<nb-card>
  <nb-card-header>
    <span>Balance Anual</span>
  </nb-card-header>
  <nb-card-body>
    <form (ngSubmit)="consultarReport(form)" #form="ngForm" aria-labelledby="title">
      <div class="row">
        <div class="col-sm-2">
          <div class="form-group">
            <label for="inputYear">Año <span class="error-message">*</span></label>
            <input nbInput
                  fullWidth
                  fieldSize="small" 
                  class="form-control" 
                  id="inputYear"                     
                  placeholder="Año"
                  name="inputYear"
                  maxlength="4"
                  #year="ngModel"
                  [(ngModel)]="balance.year"                        
                  [required]="true"                        
                  [status]="year.dirty ? (year.invalid  ? 'danger' : 'success') : ''"
                  [attr.aria-invalid]="year.invalid && year.touched ? true : null"
                  >
            <ng-container *ngIf="year.invalid && year.touched">
              <p class="error-message" *ngIf="year.errors?.required">
                El Año es obligatorio!
              </p>
            </ng-container>
          </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <button nbButton
                size="xsmall"
                [status]="(!form.valid  ? 'danger' : 'success')" 
                [disabled]="!form.valid"
                >
                Consultar
              </button>
            </div>
        </div>


        <div class="col-sm-5">
          <div class="form-group">
            <div class="example-container col-md-7" *ngIf="lastBalance.namePeriodo != ''">
                <div class="container-title">
                  <span>{{ lastBalance.namePeriodo }}</span>
                </div>
                <div class="primary-container">
                  <div class="state-container">
                    <div class="state-value"></div>
                    <div class="state-details">
                      <span class="header">Total Prestado</span>
                      <span class="subheader">{{ lastBalance.totalPrestado | number }}</span>
                    </div>
                  </div>
                  <div class="state-container">
                    <div class="state-value hover"></div>
                    <div class="state-details">
                      <span class="header">Total Pagado</span>
                      <span class="subheader">{{ lastBalance.totalPagado | number}}</span>
                    </div>
                  </div>
                  <div class="state-container">
                    <div class="state-value active"></div>
                    <div class="state-details">
                      <span class="header">Total Interes</span>
                      <span class="subheader">{{ lastBalance.totalInteres | number}}</span>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </form>
   
  </nb-card-body>
</nb-card>  
<nb-card>
  <nb-card-header>
    <span>Balance Por Mes</span>
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="example-container col-md-2" *ngFor="let sevenMonth of sevenBalance">
        <div class="container-title">
          <span>{{ sevenMonth.namePeriodo }}</span>
        </div>
        <div class="primary-container">
          <div class="state-container">
            <div class="state-value"></div>
            <div class="state-details">
              <span class="header">Total Prestado</span>
              <span class="subheader">{{ sevenMonth.totalPrestado | number}}</span>
            </div>
          </div>
          <div class="state-container">
            <div class="state-value hover"></div>
            <div class="state-details">
              <span class="header">Total Pagado</span>
              <span class="subheader">{{ sevenMonth.totalPagado | number}}</span>
            </div>
          </div>
          <div class="state-container">
            <div class="state-value active"></div>
            <div class="state-details">
              <span class="header">Total Interes</span>
              <span class="subheader">{{ sevenMonth.totalInteres | number}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
