<div class="header-container"
     [class.left]="position === 'normal'"
     [class.right]="position === 'inverse'">
  <div class="logo-containter">
    <a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>
    <div class="logo" (click)="goToHome()">Te-<span>Ayudamos</span></div>
  </div>
  
</div>

<div class="header-container">
  <nb-user [name]="user.nombre"></nb-user>
    
  <nb-actions
    size="medium"
    [class.right]="position === 'normal'"
    [class.left]="position === 'inverse'">
    <nb-action class="control-item" icon="nb-close-circled" (click)="goToLogout()"></nb-action>
  </nb-actions>
</div>
