<div class="col-md-12">
  <nb-card>
    <nb-card-body>
      <nb-tabset fullWidth>
        <nb-tab tabTitle="Clientes">
          <br>
          <br>
          <br>
          <form (ngSubmit)="saveCliente(form)" #form="ngForm" aria-labelledby="title">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="selectTipoId">Tipo identificación<span class="error-message">*</span></label>
                  <select placeholder="Tipos de Identificación"
                          outline
                          class="form-control font-size-select"
                          size="medium"
                          name="selectTipoId"
                          id="selectTipoId"                           
                          #tipoDoc="ngModel"
                          [disabled]="cliente.codigo > 0"
                          (change)="searchClienteByIdentificacion()"
                          [(ngModel)]="cliente.tipoDoc"
                          [required]="true"
                          [attr.aria-invalid]="tipoDoc.invalid && tipoDoc.touched ? true : null"
                          >
                    <option value="">TIPOS DE IDENTIFICACIÓN</option>
                    <option *ngFor="let tipoId of selectTiposId" value="{{tipoId.codigo}}"  [(selected)]="tipoId.codigo == cliente.tipoDoc">{{tipoId.nombre}}</option>
                  </select>
                  <ng-container *ngIf="tipoDoc.invalid && tipoDoc.touched">
                    <p class="error-message" *ngIf="tipoDoc.errors?.required">
                      El tipo de identificación es obligatorio!
                    </p>
                  </ng-container>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputCedula">Identificación <span class="error-message">*</span></label>
                  <input type="text"
                        nbInput 
                        fullWidth    
                        fieldSize="small"                    
                        class="form-control" 
                        id="inputCedula" 
                        placeholder="Identificación"
                        name="inputCedula"
                        #cedula="ngModel"
                        maxlength="20"
                        (blur)="searchClienteByIdentificacion()"
                        [disabled]="cliente.codigo > 0"
                        [(ngModel)]="cliente.cedula"
                        [required]="true"
                        [status]="cedula.dirty ? (cedula.invalid  ? 'danger' : 'success') : ''"
                        [attr.aria-invalid]="cedula.invalid && cedula.touched ? true : null"
                        mask='dot_separator'
                        >
                  <ng-container *ngIf="cedula.invalid && cedula.touched">
                    <p class="error-message" *ngIf="cedula.errors?.required">
                      La identificación es obligatoria!
                    </p>
                    <p class="error-message" *ngIf="cedula.errors?.pattern">
                      Por favor ingrese sólo números.
                    </p>
                  </ng-container>           
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="inputNombre">Nombre <span class="error-message">*</span></label>
                  <input nbInput 
                        fullWidth
                        fieldSize="small" 
                        class="form-control" 
                        id="inputNombre"                     
                        placeholder="Nombre completo"
                        name="inputNombre"
                        #nombre="ngModel"
                        maxlength="50"
                        [(ngModel)]="cliente.nombre"                        
                        [required]="true"                        
                        [status]="nombre.dirty ? (nombre.invalid  ? 'danger' : 'success') : ''"
                        [attr.aria-invalid]="nombre.invalid && nombre.touched ? true : null"
                        >
                  <ng-container *ngIf="nombre.invalid && nombre.touched">
                    <p class="error-message" *ngIf="nombre.errors?.required">
                      El nombre es obligatorio!
                    </p>
                  </ng-container>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputDireccion">Dirección <span class="error-message">*</span></label>
                  <input nbInput
                        fullWidth
                        fieldSize="small" 
                        class="form-control" 
                        id="inputDireccion"                     
                        placeholder="Dirección"
                        name="inputDireccion"
                        maxlength="50"
                        #direccion="ngModel"
                        [(ngModel)]="cliente.direccion"                        
                        [required]="true"                        
                        [status]="direccion.dirty ? (direccion.invalid  ? 'danger' : 'success') : ''"
                        [attr.aria-invalid]="direccion.invalid && direccion.touched ? true : null"
                        >
                  <ng-container *ngIf="direccion.invalid && direccion.touched">
                    <p class="error-message" *ngIf="nombre.errors?.required">
                      La dirección es obligatoria!
                    </p>
                  </ng-container>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputEmail">Email <span class="error-message">*</span></label>
                  <input nbInput
                        fullWidth
                        fieldSize="small" 
                        class="form-control" 
                        id="inputEmail"                     
                        placeholder="Correo eléctronico"
                        name="inputEmail"
                        maxlength="50"
                        #email="ngModel"
                        pattern="{{ constants.EXPRESSION_REGULAR_EMAIL }}"
                        [(ngModel)]="cliente.email"                        
                        [required]="true"
                        [status]="email.dirty ? (email.invalid  ? 'danger' : 'success') : ''"
                        [attr.aria-invalid]="email.invalid && email.touched ? true : null"
                        >
                  <ng-container *ngIf="email.invalid && email.touched">
                    <p class="error-message" *ngIf="email.errors?.required">
                      El correo es obligatorio!
                    </p>
                    <p class="error-message" *ngIf="email.errors?.pattern">
                      Por favor ingrese un correo válido.
                    </p>
                  </ng-container>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputTelefono">Teléfono <span class="error-message">*</span></label>
                  <input nbInput
                        fullWidth
                        fieldSize="small" 
                        class="form-control" 
                        id="inputTelefono"                     
                        placeholder="Teléfono"
                        name="inputTelefono"
                        pattern="{{ constants.EXPRESSION_REGULAR_SOLO_NUMEROS }}"
                        maxlength="9"
                        #telefono="ngModel"
                        [(ngModel)]="cliente.telefono"                        
                        [required]="true"                            
                        [status]="telefono.dirty ? (telefono.invalid  ? 'danger' : 'success') : ''"
                        [attr.aria-invalid]="telefono.invalid && telefono.touched ? true : null"
                        mask='000 00 00'
                        [validation]="true"
                        >
                  <ng-container *ngIf="telefono.invalid && telefono.touched">
                    <p class="error-message" *ngIf="telefono.errors?.required">
                      El teléfono es obligatorio!
                    </p>
                    <p class="error-message" *ngIf="telefono.errors?.pattern">
                      Por favor ingrese sólo números.
                    </p>
                  </ng-container>     
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputCelular">Celular <span class="error-message">*</span></label>
                  <input nbInput
                        fullWidth
                        fieldSize="small" 
                        class="form-control" 
                        id="inputCelular"                    
                        placeholder="Celular"
                        name="inputCelular"
                        maxlength="15"
                        #celular="ngModel"
                        [(ngModel)]="cliente.celular"                        
                        [required]="true"                        
                        [status]="celular.dirty ? (celular.invalid  ? 'danger' : 'success') : ''"
                        [attr.aria-invalid]="celular.invalid && celular.touched ? true : null"
                        mask='(000) 000 00 00'
                        [validation]="true"
                        >
                  <ng-container *ngIf="celular.invalid && celular.touched">
                    <p class="error-message" *ngIf="celular.errors?.required">
                      El celular es obligatorio!
                    </p>
                    <p class="error-message" *ngIf="celular.errors?.pattern">
                      Por favor ingrese sólo números.
                    </p>
                  </ng-container>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="selectSocio">Socio <span class="error-message">*</span></label>
                  <select outline
                            class="form-control font-size-select" 
                            size="small"
                            placeholder="Socios"
                            name="selectSocioId"
                            id="selectSocioId"                             
                            #socioId="ngModel"
                            [(ngModel)]="cliente.socioId"
                            [disabled]="cliente.codigo > 0"
                            [required]="true"
                            [attr.aria-invalid]="socioId.invalid && socioId.touched ? true : null"
                            >
                    <option value="" selected="true">SIN SOCIO</option>
                    <option *ngFor="let socio of selectSocios" value="{{socio.codigo}}" [(selected)]="socio.codigo == cliente.socioId">{{socio.nombre}}</option>
                  </select>
                  <ng-container *ngIf="socioId.invalid && socioId.touched">
                    <p class="error-message" *ngIf="socioId.errors?.required">
                      El socio es obligatorio!
                    </p>
                  </ng-container>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="selectReferido">Referido</label>
                  <select outline
                          class="form-control font-size-select" 
                            size="small"
                            placeholder="Sin Referido"
                            name="selectReferidoId"
                            id="selectReferidoId"           
                            #referidoId="ngModel"                  
                            [(ngModel)]="cliente.referidoId"                            
                            [required]="false"
                            >
                      <option value="" >SIN REFERIDO</option>
                      <option *ngFor="let referido of selectReferidos" value="{{referido.codigo}}" [(selected)]="referido.codigo == cliente.referidoId">{{referido.nombre}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputNomRef">Nombre referencia <span class="error-message">*</span></label>
                  <input nbInput
                        fullWidth
                        fieldSize="small" 
                        class="form-control" 
                        id="inputNomRef"                     
                        placeholder="Nombre referencia"
                        name="inputNomRef"
                        maxlength="50"
                        #inputNomRef="ngModel"
                        [(ngModel)]="cliente.nombreReferencia"                        
                        [required]="true"                        
                        [status]="inputNomRef.dirty ? (inputNomRef.invalid  ? 'danger' : 'success') : ''"
                        >   
                        <ng-container *ngIf="inputNomRef.invalid && inputNomRef.touched">
                          <p class="error-message" *ngIf="inputNomRef.errors?.required">
                            La persona de referencia es obligatoria!
                          </p>
                        </ng-container>             
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputTelRef">Teléfono referencia <span class="error-message">*</span></label>
                  <input nbInput
                        fullWidth
                        fieldSize="small" 
                        class="form-control" 
                        id="inputTelRef"                     
                        placeholder="Teléfono referencia"
                        name="inputTelRef"
                        maxlength="15"
                        #inputTelRef="ngModel"
                        [(ngModel)]="cliente.telReferencia"                        
                        [required]="true"
                        [status]="inputTelRef.dirty ? (inputTelRef.invalid  ? 'danger' : 'success') : ''"
                        [attr.aria-invalid]="inputTelRef.invalid && inputTelRef.touched ? true : null"
                        mask='(000) 000 00 00'
                        [validation]="true"
                        >
                  <ng-container *ngIf="inputTelRef.invalid && inputTelRef.touched">
                    <p class="error-message" *ngIf="inputTelRef.errors?.pattern">
                      Por favor ingrese un correo válido.
                    </p>
                  </ng-container>
                </div>
              </div>
            </div>
            <br>
            <button nbButton
              size="xsmall"
              [status]="(!form.valid  ? 'danger' : 'success')" 
              [disabled]="!form.valid"
              >
              Guardar
            </button>
            <a (click)="onClearForm()" size="xsmall" [status]="'success'"  nbButton>Nuevo</a>   
          </form>
          <br>
          <ngx-prestamo-cliente-list (editClientePerent)='loadClienteInfo($event)'></ngx-prestamo-cliente-list>
        </nb-tab>
        <nb-tab tabTitle="Cuentas Bancarias">
          <ngx-prestamo-cliente-cuenta (cliente)="cliente" ></ngx-prestamo-cliente-cuenta>
        </nb-tab>
      </nb-tabset>
      </nb-card-body>
  </nb-card>
</div>